Source: ccache
Section: devel
Priority: optional
Maintainer: Francois Marier <francois@debian.org>
Uploaders: Y Giridhar Appaji Nag <appaji@debian.org>
Build-Depends: debhelper (>> 6), autotools-dev, zlib1g-dev
Standards-Version: 3.8.0
Homepage: http://ccache.samba.org
Vcs-git: git://git.debian.org/git/collab-maint/ccache.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/ccache.git;a=summary

Package: ccache
Architecture: any
Depends: ${shlibs:Depends}
Suggests: distcc
Description: Compiler results cacher, for fast recompiles
 ccache is a compiler cache. It speeds up re-compilation of C/C++ code 
 by caching previous compiles and detecting when the same compile is
 being done again.
